.fg-general-container {
  
  width: 380px;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.fg-window-game {
 
  width: 380px;
  height: 400px;
  border-radius: 15px;
  box-shadow: 2px 2px 30px rgb(113, 112, 122);
  background-image: url(https://res.cloudinary.com/di49fnkc8/image/upload/v1696651967/web%20juegos/Pngtree_landscape_cartoon_vector_green_land_1911228_yty18b.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

