.button{
    height: 30px;
    width: 120px;
    border: 2px solid var(--color-border);
    border-radius: 15px;
    cursor: pointer;
    color: antiquewhite;
    background-color: var( --color-secondary);

}
.btt-home{
    height: 40px;
    width: 40px;
    border-radius: 100px;
}