.juego-ahorcado {


  height: 80svh;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fg-controler {
 
  display: flex;
  gap: 15px;
}
input {

  height: 40px;
  width: 50px;
  font-size: 20px;
  text-align: center;
}

.victoria-message {
 
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
